<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ForumURL" value="http://vipergirls.to/" />
    <add key="Download Folder" value="D:\My Pictures" />
    <add key="AfterDownloads" value="0" />
    <add key="GuestMode" value="True" />
    <add key="Download Options" value="0" />
    <add key="Thread Limit" value="3" />
    <add key="minImageCountThanks" value="3" />
    <add key="SubDirs" value="True" />
    <add key="Auto TK Button" value="False" />
    <add key="clipBoardWatch" value="False" />
    <add key="Show Popups" value="False" />
    <add key="Always OnTop" value="False" />
    <add key="DownInSepFolder" value="True" />
    <add key="SaveRippedPosts" value="True" />
    <add key="Show Downloads Complete PopUp" value="False" />
    <add key="ShowLastDownloaded" value="False" />
    <add key="UserLanguage" value="zh-CN" />
    <add key="Window left" value="251" />
    <add key="Window top" value="58" />
    <add key="Window width" value="863" />
    <add key="Window height" value="611" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
